<div class="col-lg-6 mx-auto">
  <div class="col-lg-12 mb-3">
    <h1 class="text-center logo">Profile</h1>
  </div>
  <% if current_user.avatar.attached? %>
    <%= image_tag current_user.avatar.variant(resize_to_fill: [32, 32]).processed, class: "img-fluid" %>
  <% else %>
    <%= image_tag "no_image", class: "img-fluid" %>
  <% end %>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put, class: "mb-5" }) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>

    <div class="form-group">
      <%= f.label :avatar %>
      <%= f.file_field :avatar, class: "form-control" %>
    </div>

    <div class="form-group">
      <%= f.label :email %>
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
    </div>

    <div class="form-group">
      <%= f.label :name %>
      <%= f.text_field :name, autocomplete: "name", class: "form-control" %>
    </div>

    <div class="form-froup">
      <%= f.label :description %><br />
      <%= f.text_area :description, autocomplete: "description", class: "form-control" %>
    </div>

    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
    <% end %>

    <div class="form-group">
      <%= f.label :password %><i>(leave blank if you don't want to change it)</i>
      <%= f.password_field :password, autocomplete: "new-password", class: "form-control" %>

      <% if @minimum_password_length %>
        <em><%= @minimum_password_length %> characters minimum</em>
      <% end %>
    </div>

    <div class="form-group">
      <%= f.label :password_confirmation %>
      <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control" %>
    </div>

    <div class="form-group">
      <%= f.label :current_password %>
      <%= f.password_field :current_password, autocomplete: "current-password", class: "form-control" %>
      <i>(we need your current password to confirm your changes)</i>
    </div>

    <p class="actions">
      <%= f.submit "Update", class: "btn btn-block btn-primary" %>
    </p>

    <p>
      <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "btn btn-block btn-secondary" %>
    </p>
  <% end %>

  <h3>Delete my account</h3>
  <p>
    <%= link_to "Delete my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class: "btn btn-block btn-danger" %>
  </p>

  <p>
    <%= link_to "Back", :back, class: "btn btn-block btn-light" %>
  </p>
</div>