<%= form_with model: post, local:true do |f| %>
  <div class="form-group">
    <%= f.label :caption %>
    <%= f.text_area :caption, class: "form-control", rows: "7" %>
  </div>
  <p>
    <%= f.submit class: "btn btn-block btn-primary" %>
  </p>
  <p>
    <%= link_to '戻る', :back, class: "btn btn-block btn-secondary" %>
  </p>
<% end %>