<div class="col-lg-8 mx-auto">
  <div class="card mb-3">
    <div class="row no-gutters">
      <div class="col-lg-7">
        <% if @post.image.attached? %>
          <%= image_tag @post.image.variant(resize_to_fill: [800, 800]).processed, class: "card-img" %>
        <% else %>
          <%= image_tag "no_image", class: "card-img" %>
        <% end %>
      </div>
      <div class="col-lg-5">
        <div class="card-body">
          <% if @post.user.avatar.attached? %>
            <%= image_tag @post.user.avatar.variant(resize_to_fill: [32, 32]).processed, class: "img-thumbnail rounded-circle" %>
          <% else %>
            <%= image_tag "no_image", class: "img-thumbnail rounded-circle" %>
          <% end %>
          <%= @post.user.name %>
          <hr>
          <div class="scroll">
          <%= simple_format (@post.caption) %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <% if user_signed_in? && current_user.id == @post.user_id %>
    <p>
      <%= link_to t(".edit"), edit_post_path(@post), method: :get, class: "btn btn-block btn-primary" %>
    </p>
    <p>
      <%= button_tag t(".delete"), class: "btn btn-block btn-warning", data: { toggle: "modal", target: "#delete-post" } %>
    </p>
  <% end %>
</div>

<%= render "delete_modal" , post: @post %>
